node_modules
dist
dist-demo
dist-playground
*.tsbuildinfo
.DS_Store
*.log
.wrangler
ports/ios/MetalFxDemo/build
ports/ios/**/*.xcodeproj
ports/react-native/example/ios
ports/react-native/example/android
ports/react-native/example/.expo
ports/react-native/metal-fx-native/lib
ports/react-native/example/build
